<h1><%= link_to @song.title, song_path(@song) %></h1>
<%binding.pry%>
<% if @song.artist %>
<%= link_to @song.artist_name, artist_path(@song.artist) %>
<%else%>
<%=link_to 'Add artist to song', edit_song(@song) %>
<% end %>

<%= link_to "All Songs", songs_path %>
